@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

:root {
    --dark-color: #1F1F1F;
    --light-color: #E0E0E0;
    --primary-color: #00AAAA;
    --secondary-color: #AA00AA;
    --tertiary-color: #FF5555;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Prompt', sans-serif;
    background-image: url(assets/banners/home.png);
    background-attachment: fixed;
    background-position: center;
    background-color: var(--dark-color);
}
/* TEXT FORMATTING */
.h1 {
    color: var(--dark-color);
    font-size: 76px;
    font-weight: 600;
}
.h2 {
    color: var(--dark-color);
    font-size: 38px;
    font-weight: 500;
}
.h3 {
    color: var(--dark-color);
    font-size: 26px;
    font-weight: 500;
}
.p{
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 400;
}
/* NAVIGATION BAR */
.navbar{
    background-color:var(--dark-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 8px;
    display: block;
    text-align: center;
}
.navbar div a {
    margin: 20px;
    text-decoration: none;
    color: var(--light-color);
    font-size: larger;
}
.navbar div a:hover {
    color: var(--primary-color);
}
.playtab:hover {
    background-color: var(--light-color);
}
.playtab {
    background-color:var(--primary-color);
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 14px;
}

/* SECTIONS */
.section {
    padding-left: 30px;
    padding-right: 30px;
    /* height: 500px; */
    background-color: var(--dark-color);
}
.translucent {
    background-color: rgba(255, 255, 255, 0.2);
    height: 500px;
}
.textBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    padding-right: 260px;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centeredVertical {
    display: flex;
    align-content: center;
}

/* BOXES */
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.smallBox {
    background-color: var(--light-color);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 18px;
    width: 260px;
    height: 300px;
}
.smallBox div {
    display: flex;
    justify-content: center;
    text-align: center;
}
.largeBox {
    background-color: var(--light-color);
    margin: 25px;
    padding: 15px;
    border-radius: 18px;
    width: 420px;
    height: 300px;
}
.largeBox div {
    display: flex;
    justify-content: center;
    text-align: center;
}
.icon{
    height: 140px;
}
@media screen and (max-width: 600) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600){
    .navbar.responsive div {background-color: var(--secondary-color);}
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive div a {
        float: none;
        display: none;
        text-align: left;
    }
}